{
  "singleQuote": true,
  "trailingComma": "all",
	"semicolon": true,
	"arrowParens": "avoid",
	"importOrder": [
		"^@nest/(.*)$",
		"^@config/(.*)$",
		"^@constants/(.*)$",
		"^@models/(.*)$",
    "^@modules/(.*)$",
		"^@shared/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true
}